@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Pacifico|Flamenco:300,400);
* {
  box-sizing: border-box;
}

body{
  font-family: Flamenco, Helvetica, Arial, sans-serif;
  font-size: 20px;
}


/*====================
    Header
======================*/

.logo{
  font-size: 40px;
  padding: 25px 15px;
  font-weight: 400;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar-default{
  background-color: #2980B9;
  height: auto;
  border-radius: 0;
  border: 0;
}

.navbar-brand.logo{
  text-shadow: 1px -4px 0px rgba(0, 0, 0, 0.5);
  font-family: "Pacifico", cursive;
  color: #fff;
}

.navbar-brand.logo:hover{
  color: #F2F2F2;
}

.rm-p{
  padding-left: 0!important;
}


/*====================
   New Booking Page
======================*/

.search{
  margin-top: 100px;
  margin-bottom: 60px;
}
.mid {
  text-align: center;
}

.search-results{
  margin-bottom: 50px;
}

h3{
  border-bottom: 1px solid #000;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 30px;
}

/* passenger details page */

.passenger_details{
  margin-bottom: 50px;
}

.form-group{
  padding-right: 0;
}



.flight-details{
}

/*====================
   New Booking Page
======================*/

.passenger-box{
  padding-bottom: 40px;
}

.control-label{
  text-align: left;
}

/*====================
   Show Booking Page
======================*/

h1{
  text-align: center;
}

.booking{
  margin-bottom: 10%;
}




/*====================
   Footer
======================*/

html{
  position: relative;
  min-height: 100%;
  background-color: #eee;
}

body{
  margin-bottom: 70px;
  background-color: #eee;
}

footer {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  background-color: #4e5d6c;
}

.copy{
  margin-top: 35px;
  color: #fff;
}

.contact ul li{
  display: inline-block;
  font-size: 25px;
  padding-right: 10px;
  color: #000;

}

.contact ul{
  padding-left: 0;
  margin-bottom: 0;
}

.contact h4{
  margin-bottom: 0;
}

.contact, .contact ul li a{
  color: #ebebeb;
}

.contact ul li a:hover{
  color:#2980B9;
}

#error_explanation{
  color: blue;
}

.img-caption {
  margin-top: 15px;
}
.link-btn {
  color: #fff;
}
.below{
  margin-top: 30px;
}
.bookings-btn-container {
  @media screen and (max-width: 790px) {
    margin-bottom: 55px;
    float: none !important;
  }
}
.bookings-btn {
  float: right;

  @media screen and (max-width: 790px) {
    float: none !important;
  }
}
