<footer>
  <div class="container-fluid">
    <div class="col-sm-2">
      <div class="contact">
        <h4> Contact me:</h4>
          <ul>
            <li><%= link_to '<i class="fa fa-twitter-square"></i>'.html_safe, "https://twitter.com/Van_Paitin" %></li>
            <li><%= link_to '<i class="fa fa-github-square"></i>'.html_safe, "https://github.com/andela-mpitan" %></li>
          </ul>
      </div>
    </div>

      <div class="col-sm-4 col-sm-offset-3">
        <p class="copy">Mayowa Pitan &copy; April 2016</p>
      </div>
  </div>
</footer>